# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.pdb
*.dll
*.cache
*.exe
*.baml
GraphView.Framework/bin/Debug/*.*
GraphView.Framework/obj/Debug/*.*
.vs
GraphView.Infrastructure/bin/Debug/*.*
GraphView.Infrastructure/bin/Release/*.*
NeuralNetworksLab.App/bin/Debug/*.*
NeuralNetworksLab.App/bin/Release/*.*
GraphView.Infrastructure/obj/Debug/*.*
GraphView.Infrastructure/obj/Release/*.*
NeuralNetworksLab.App/obj/*.*
NeuralNetworksLab.App/obj/Debug/*.*
NeuralNetworksLab.App/obj/Debug/Controls/*.*
NeuralNetworksLab.App/obj/Debug/Views/*.*
NeuralNetworksLab.App/obj/Release/*.*
NeuralNetworksLab.App/obj/Release/Controls/*.*
NeuralNetworksLab.App/obj/Release/Views/*.*
packages/*/*.*
packages/*/*/*/*.*
Perseptron/bin/Debug/*.*
Perseptron/bin/Release/*.*
Perseptron/obj/Debug/*.*
Perseptron/obj/Release/*.*